.productsList {
  grid-area: products;
  margin-top: 0%;
  margin-bottom: 2%;
  margin-right: 1.5%;
  margin-left: 2%;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: #eaebec;
  height: 650px;
  padding: 1em;
  overflow-y: scroll;
  align-content: start;  
}

.unorderList {
  font-size: 12px;
  cursor: pointer;
  margin: 10px;
  max-width: 200px;
  max-height: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: grid;
  grid-template-areas: "photo photo"
                       "name name"
                       "brand brand"
                       "description description"
                       "price discount"
                       "cart buynow";
}

.photoProduct {
  grid-area: photo;
  display: block;
  margin: auto;
  cursor: pointer;
  object-fit: cover;
  border-radius: 10%;
  width: 150px;
  height: 100px;
}

.price {
  grid-area: price;
  color: #173083;
  left: -5px;
  top: 5px;
  position: relative;
  height: 25px;
  padding-top: 4px;
  padding-right: 1px;
  padding-left: 3px;
  border-radius: 5px;
  text-align: center;
  width: 50px;
  font-weight: 600;
  text-decoration: line-through;
}

.description {
  grid-area: description;
  margin-bottom: 5px;
  color: #173083;
  font-weight: 600;
}

.brand {
  grid-area: brand;
  margin-bottom: 5px;
  color: #173083;
  font-weight: 500;
}

.name {
  grid-area: name;
  color: #173083;
  font-weight: 800;
}

.discount {
  grid-area: discount;
  color: #173083;
  font-weight: 800;
}

.cart {
  grid-area: cart;
  width: 100px;
}

.header {
  background: #6e2a8e;
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 90px;
    z-index: 1000;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.icon-container{
  display: flex;
  width:10%;
  justify-content: space-between;
}
.icons-redes{
  color: #ADBCD7;
  font-size: 35px;  
}
.buynow {
  grid-area: buynow;
  width: 100px;
}


/* Auth */
.signUpForm {
  text-align: center;
  /* margin-top: 3%;
  margin-bottom: auto; */
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #DDDDDD;
  font-size: 0.9em;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 5%;
  padding-left: 5%;
  width: min-content;
}

.inputButton {
  margin: 10px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  font-size: 13px;
  width: 280px;
  border-radius: 10px;
  border: 0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  font-family: 'Nunito Sans', sans-serif;
}

.signUpButton {
  background-color: #173083;
  padding: 10px;
  color: white;
  font-size: 15px;
  width: 280px;
  border-radius: 10px;
  border: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.signUpButton:hover {
  background-color:#314aa5;
}

.motto {
  margin-bottom: 6%;
  margin-top: 6%;
  font-size: 16px;
  color: #8b8a8a;
  display: inline-block;
}

.login {
  color:  #173083;
  padding-left: 15px;
  font-weight: bold;
  text-decoration: none;
}

.quantity {
  grid-area: quantity;
  display: inline-block;
  color: red;
  padding-top: 2px;
  border-radius: 50%;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 2px;
  text-align: center;
  font-size: 1rem;
  position: absolute;
  margin-top: 6px;
  position: relative;
  top: -23px;
  left: -16px;
  font-weight: 700;
}


/* userform payment */
.container-formulary{
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 10px;
  margin-right: 50px;
  margin-left: 250px;
  margin-top: 150px;
}
.first-form{
  width: 80%;
}
.btn btn-block btn-lg btn-primary{
  color: #6E2A8E;
}
.btn-submit{
  background:#6E2A8E;
  color:white;
  size: 10px;
  border: 3px solid;
}